
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.25em;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-container {
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-container img {
    width: 3em;
    height: auto;
}

.section-container {
    width: 30em;
    margin: 5em auto;
    box-shadow: 5px 5px 15px rgb(199, 196, 196);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-container:hover {
    box-shadow: 5px 5px 15px rgb(155, 152, 152);
}

.section-container img {
    width: 19em;
    height: auto;
    margin: 1em auto;
    display: flex;
    align-self: center;
    border-radius: 15px;
}


.section-container h2 {
    display: flex;
    align-self: center;
    font-size: 1.35em;
}

.section-container p {
    font-family: montagu-slab;
    text-align: center;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: 4em;
    margin-left: 4em;
}

.text-container {
    max-width: 50em;
    margin: 0 auto;
    margin-top: 8em;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header-img {
    width: 50%;
    height: auto;
    margin-top: 2em;
    border-radius: 25px;
}

#blog-img {
    width: 30%;
    height: auto;
    margin-top: 2em;
}


.content-text {
    font-family: montagu-slab;
    font-size: 1.25em;
}

.gotop {
    width: 5em;
    height: 5em;
    border: none;
}

button {
    border: none;
    margin: 2em auto;
    margin-top: 3em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgb(247, 242, 242);
    box-shadow: 0 0 15px lightgray;
    text-align: center;
    padding-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3.5em;
  }

h3 {
    text-align: center;
    margin-bottom: 0;
 }
  
.footer a:visited {
    color: black;
}
  
.footer a {
    color: black;
}

.profile-pic {
    width: 50%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 0;
    border-radius: 25px;
}

@media only screen and (max-width: 1440px) {

    .section-container {
        margin-top: 0em;
    }

    #header {
        margin-bottom: 2em;
    }
  
  }

@media only screen and (max-width: 1024px) {

    .section-container img {
      width: 22em;
    }
  
  }

@media only screen and (max-width: 768px) {

    .content-text {
        width: 80%;
    }

    h1 {
        margin-top: 1.5em;
    }

}

@media only screen and (max-width: 425px) {

    .content-text {
        width: 90%;
        font-size: 2em;
    }

    .section-container {
        width: 90%;
    }


    h1 {
        font-size: 3em;
        margin-top: 1em;
    }

    .hector img {
        width: 50%;
    }

    #header-img {
        margin-top: 3.5em;
        width: 75%;
    }

    #blog-img {
        margin-top: 3.5em;
    }

    .footer {
        font-size: 70%;
      }

}

@media only screen and (max-width: 375px) {

    .section-container img {
        width: 18em;
      }
    
    #header h1 {
        margin-bottom: 0;
    }

    .section-container {
        margin: 0.5 auto;
        font-size: 100%;
    }

    .section-container p {
        margin: 0.25em;
    }

}

@media only screen and (max-width: 320px) {

    .section-container img {
        width: 15em;
      }
    
    #header h1 {
        margin-bottom: 0;
    }

    .section-container {
        margin: 0.75 auto;
        font-size: 120%;
    }
}