html {
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2em;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.section-container {
    width: 30em;
    margin: 5em auto;
    box-shadow: 5px 5px 15px rgb(199, 196, 196);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-container:hover {
    box-shadow: 5px 5px 15px rgb(155, 152, 152);
}

.section-container img {
    width: 19em;
    height: auto;
    margin: 1em auto;
    display: flex;
    align-self: center;
    border-radius: 15px;
}

.section-container h2 {
    display: flex;
    align-self: center;
    font-size: 1.35em;
}

.section-container p {
    font-family: montagu-slab;
    text-align: center;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: 4em;
    margin-left: 4em;
}

.content-text {
    font-family: montagu-slab;
    font-size: 1.25em;
}

@media only screen and (max-width: 1440px) {

    .section-container {
        margin-top: 0em;
    }

    #header {
        margin-bottom: 2em;
    }
  
  }

@media only screen and (max-width: 1024px) {

    .section-container img {
      width: 22em;
    }
  
  }

@media only screen and (max-width: 768px) {

    .content-text {
        width: 80%;
    }

    .hector img {
        width: 50em;
    }

}

@media only screen and (max-width: 425px) {
    
    html{
        width: 100%;
    }

    .section-container {
    width: 90%;
    border: none;
    margin: 2em auto;
    }

    .content-text {
        width: 90%;
        font-size: 2em;
    }

    h1 {
        font-size: 3em;
    }

}

@media only screen and (max-width: 375px) {

    .section-container img {
        width: 18em;
      }
    
    #header h1 {
        margin-bottom: 0;
    }

    .section-container {
        margin: 0.75 auto;
        font-size: 120%;
    }
}

@media only screen and (max-width: 320px) {

    .section-container img {
        width: 15em;
      }
    
    #header h1 {
        margin-bottom: 0;
    }

    .section-container {
        margin: 0.75 auto;
        font-size: 120%;
    }
}