
.App {
  text-align: center;
}

.overlay {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 8em;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7.5em;
  background-color: rgb(247, 242, 242);
  box-shadow: 0px 5px 15px lightgray;
}

.nav-links {
  width: 55%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 120%;
  flex-wrap: wrap;
}

nav img {
  display: inline-block;
  width: auto;
  height: 6em;
  border-radius: 15px;
  margin-top: 0.75em;
}

nav a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: white;
  padding: 0 0.5vh;
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-inline-start: 0;
}

#header {
  border: none;
  box-shadow: none;
}

#content-page {
  margin-top: 8em;
  margin-bottom: 0em;
  width: 100%;
}

#contact {
  text-align: center;
}

#contact a {
  text-decoration: none;
  word-break: break-all;
}

.hector {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  padding-top: 0;
  margin-bottom: 3em;
}

.text-container .hector img {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
}


.blog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.blog-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 50%;
}

.blog-container img {
  display: flex;
  width: 7em;
  height: auto;
}

.blog-container h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 50%;;
  max-width: 50%;
  margin: 1.5em auto;
  line-height: 2em;
}

.profile-container img {
  display: flex;
  width: 5em;
  height: auto;
}

#bankkylogo {
  border-radius: 100%;
  box-shadow: 1px 1px 5px;
}


@media only screen and (max-width: 1440px) {

  .nav-links {
    width: 60%;
  }

}

@media only screen and (max-width: 1024px) {

  .nav-links {
    width: 80%;
  }

}

@media only screen and (max-width: 768px) {

  .nav-links {
    width: 55%;
  }

  .text-container .hector img {
    width: 45em;
    height: auto;
    margin-top: 1.5em;
  }
  

}

@media only screen and (max-width: 425px) {

  .nav-links {
    display: none;
  }

  #logo-2 {
    display: none;
  }

  #content-page {
    margin-top: 6em;
  }

  h1 {
    margin-bottom: 0;
  }

  .text-container .hector img {
    width: 30em;
    height: auto;
    margin-top: 1.5em;
  }

  .text-container {
    font-size: 80%;
  }

}

@media only screen and (max-width: 375px) {

  .nav-links {
    display: none;
  }

  #content-page {
    margin-top: 7em;
  }

  .text-container .hector img {
    width: 27em;
    height: auto;
    margin-top: 1.5em;
  }

}

@media only screen and (max-width: 320px) {

  .text-container .hector img {
    width: 22.5em;
    height: auto;
    margin-top: 1.5em;
  }

}